.recepie {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  max-width: 40%;
  min-width: 40%;
}
