.ChooseSession-Main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChooseSession-Main a {
  text-decoration: none;
  color: white;
  background: #ff4356;
  display: block;
  margin: 5px 0;
  width: 80px;
  padding: 8px 30px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
