.Footer {
  height: 100px;
}
p {
  color: white;
}

.Footer a {
  color: #ff4356;
  text-decoration: underline;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages ul {
  margin: 0;
  padding: 0;
}
.languages a {
  margin: 0 5px;
}
