.Session-buttons {
  display: flex;
  justify-content: center;
}

.Session-buttons a {
  display: block;
  background: #ff4356;
  margin: 0 10px;
  width: 50px;
  padding: 20px 40px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.Game-Results {
  display: flex;
  justify-content: center;
}
.Game-Results p {
  margin: 0 20px;
  font-size: 50px;
  color: #ff4356;
}
