.article-start-contenedor {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-start {
  height: 40vh;
  background: #ececec;
  width: 50vh;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-start h5 {
  color: #e61f5b;
  font-size: 5vh;
}

.article-start p {
  color: #e61f5b;
  margin-top: 5vh;
}
.article-start a {
  background: #e61f5b;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 7vh;
  border-radius: 5px;
}

.article-start:hover {
  border: 1px solid #e61f5b;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

@media screen and (max-width: 800px) {
  .article-start-contenedor {
    width: 100%;
    padding: 0 20px;
    margin: 10px 0;
  }
  .article-start h5 {
    font-size: 4vh;
  }
}
