.article-web {
  background: #f0f0f0;
  height: 620px;
  width: 330px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.article-web li {
  padding-top: 15px;
}

.article-web h5 {
  color: #e61f5b;
  font-size: 35px;
  padding-top: 50px;
}

.article-web h6 {
  font-size: 20px;
  color: #707070;
  padding-top: 25px;
}
.precio {
  font-size: 80px;
  margin: 20px 0;
}

.article-web a {
  text-decoration: none;
  background: #e61f5b;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.article-web:hover {
  border: 1px solid #e61f5b;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
