.Conocimientos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 650px;
  color: white;
}

.Conocimientos main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Conocimientos .titulo {
  width: 90%;
  margin-bottom: 5em;
}

.Conocimientos aside {
  background: #ff4356;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Conocimientos h4 {
  font-weight: normal;
  font-size: 30px;
}

.Conocimientos .aside-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Conocimientos .aside-section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-align: center;
}

.Conocimientos .info {
  position: relative;
  top: 10px;
}

.Conocimientos .bars {
  position: relative;
  top: -9em;
  right: -10.5em;
  cursor: pointer;
}

.crosscon {
  width: 6%;
  top: 1.3em;
  right: 2.8em;
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
@media screen and (max-width: 800px) {
  .Conocimientos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
  }

  .Conocimientos main {
    grid-row: 2/3;
    width: 100%;
  }

  .Conocimientos aside {
    width: 90%;
    right: -5%;
  }

  .Lenguajes {
    width: 90%;
  }

  .Conocimientos .bars {
    position: relative;
    top: -5%;
    right: -40%;
    cursor: pointer;
  }
  .crosscon {
    width: 11%;
    top: 9.8%;
    right: 5.5%;
    position: absolute;
    z-index: 1000;
  }
}
