h4 {
  font-size: 11vh;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  color: #e61f5b;
  padding-top: 30px;
}

.info-contenedor {
  background: #e61f5b;
  color: white;
  height: 67vh;
}

.conocimientos-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 5vh;
}

.conocimientos-contenedor div {
  width: 50%;
}

.lenguajes-programacion,
.herramientas-diseño {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 5px;
}
.lenguajes-programacion {
  margin-top: 20px;
}

#CSS,
#HTML,
#JS {
  margin-top: 10px;
}

.herramientas-diseño img {
  width: 100%;
  padding: 0 10px;
}

.lenguajes-programacion img {
  width: 100%;
}

.info-contenedor h5 {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

.info-contenedor p {
  padding-top: 10vh;
  margin: auto;
  font-size: 3vh;
  line-height: 25px;
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: 8vh;
    padding-top: 40px;
  }
  .conocimientos-contenedor {
    flex-direction: column;
    padding-top: 5vh;
  }
  .conocimientos-contenedor div {
    width: 100%;
  }
  .info-contenedor {
    height: 110vh;
  }
}
