.Nav {
  background: #e61f5b;
}

.Nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 7vh;
  font-weight: bold;
}

.Nav ul a {
  text-decoration: none;
  color: white;
}
