.programa-header,
.Programa-Descripcion {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-text {
  background: #e61f5b;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: italic;
}

.header-text h5 {
  font-size: 8vh;
}
.header-text h6 {
  font-size: 4vh;
  font-weight: 600;
}

.header-button-programa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.header-button-programa a {
  background: #e61f5b;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
}

.Programa-Descripcion p {
  color: #e61f5b;
  padding: 0 25vh;
  font-size: 4vh;
}

.seccion1-descripcion {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Programa-comoFunciona {
  height: 100vh;
}
.explicacion {
  display: flex;
  height: 70%;
  color: white;
  background: #e61f5b;
  margin-top: 5vh;
}

.como-funciona,
.video {
  width: 50%;
  padding: 50px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.explicacion ul {
  font-size: 20px;
  padding-top: 13vh;
  text-align: center;
}

.explicacion ul li {
  margin-bottom: 20px;
}

.como-funciona a {
  background: white;
  color: #e61f5b;
  font-style: italic;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
}

.seccion-compra {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-compra article {
  background: #f0f0f0;
  height: 510px;
  width: 330px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  border-radius: 5px;
}

.article-productos-descripcion {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.article-productos-descripcion p {
  font-size: 20px;
  color: #707070;
  padding: 0 10px;
}

.seccion-compra h6 {
  color: #e61f5b;
  font-size: 35px;
}

.seccion-compra a {
  text-decoration: none;
  background: #e61f5b;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.precio {
  font-size: 40px;
  margin: 20px 0;
}

.seccion-compra article:hover {
  border: 1px solid #e61f5b;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

@media screen and (max-width: 800px) {
  .Programa-Descripcion {
    height: 80vh;
    background: #e61f5b;
  }

  .header-text {
    background: #e61f5b;
    height: 70%;
  }

  .header-text h5 {
    font-size: 30px;
    padding: 0 4px;
  }
  .header-text h6 {
    font-size: 23px;
    padding: 0 10px;
    margin-top: 10px;
  }
  .Programa-Descripcion h4 {
    color: white;
  }
  .Programa-Descripcion p {
    color: white;
    padding: 0 10px;
    font-size: 20px;
  }

  .seccion1-descripcion {
    height: auto;
    margin-top: 20px;
  }
  .Programa-comoFunciona {
    height: 100vh;
  }
  .explicacion {
    display: block;
    height: 70%;
    color: white;
    background: #e61f5b;
    margin-top: 5vh;
  }

  .como-funciona,
  .video {
    width: 100%;
    padding: 0 10px;
  }

  iframe {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
  }

  .explicacion ul {
    font-size: 20px;
    padding-top: 13vh;
    text-align: center;
  }

  .explicacion ul li {
    margin-bottom: 20px;
  }

  .como-funciona a {
    display: none;
  }

  .seccion-compra {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seccion-compra article {
    background: #f0f0f0;
    height: 510px;
    width: 330px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    border-radius: 5px;
  }

  .article-productos-descripcion {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .article-productos-descripcion p {
    font-size: 20px;
    color: #707070;
    padding: 0 10px;
  }

  .seccion-compra h6 {
    color: #e61f5b;
    font-size: 35px;
  }

  .seccion-compra a {
    text-decoration: none;
    background: #e61f5b;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  .precio {
    font-size: 40px;
    margin: 20px 0;
  }

  .seccion-compra article:hover {
    border: 1px solid #e61f5b;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
}
