.Start header {
  background: #e61f5b;
  color: white;
  font-style: italic;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Start h1 {
  margin-top: 20%;
  font-size: 12vh;
}

.Start header a {
  text-decoration: none;
  background: white;
  color: #e61f5b;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10vh;
}

.Start main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .Start header {
    height: 80vh;
  }
  .Start main {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200vh;
  }
  .Start h2 {
    padding: 0 10px;
  }
  .Start header a {
    margin-top: 30vh;
  }
}
